/* 
========================================== 
General CSS
========================================== 
*/

body {
  font-family: "DM Sans", sans-serif;
  overflow-x: hidden;
}
/* NavigationBar Start */
.con_f1 {
  padding: 0 170px;
  box-shadow: 0px 4px 6px rgba(97, 94, 94, 0.3);
  border: none;
  position:fixed;
  top:0%;
  background-color: white;
  z-index: 1000;
}
.header_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px 14px 20px;
}
.header_top .hdt_in ul {
  display: flex;
  align-items: center;
}
.header_top .hdt_in ul {
  display: flex;
  align-items: center;
}
.hdt_in ul li {
  margin-right: 30px;
  list-style: none;
}
.hdt_in ul li:last-child {
  margin-right: 0;
}
.hdt_in ul li a,
.hdt_in p {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #3c3c3c;
  transition: .5s ease all;
  margin-bottom: 0;
}
.hdt_in ul li a:hover,
.hdt_in ul li a.current {
  color: #3ba67b;
}
.hdt_in .search-btn {
  height: 30px;
  width: 35px;
  border-radius: 40%;
  background-color: white;
  color: green;
  border: 1px solid green;
  outline:none;
}

/* Navigation End */

/* heading css */

h1,h2,h3,h4,h5,h6{
  color: #1c1c1c;
}

h1 {
  font-size: 48.83px;
  font-weight: 700;
  line-height: 56px;
}
h3 {
  
  font-weight: 700;
  font-size: 20;
  line-height: 24px;
}
h4{
  font-weight: 700;
  font-size: 31.25;
}
h5 {
  font-weight: 700;
  font-size: 31.25;
  line-height: 24px;
}

/* margin css */
.m0{
  margin:0;
}
.mt10{
     margin-top: 10px;
}
.mt20{
    margin-top: 20px;
}
.mt50 {
  margin-top: 50px;
}

/* padding css */
.p5{
  padding: 5% 0;
}

.p0{
     padding:0;
}
.pt10{
     padding-top: 10px;
}
.pt20{
    padding-top: 20px;
}
.pt50 {
  padding-top: 50px;
}


/* Paragraph css */

p {
  font-weight: 400;
  color: #6c6c6c;
}






/* Section one Start */

.con-1 {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.div_con1 {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.div_con1 > p {
  font-size: 20px;
  line-height: 32px;
}
.div_con1 .btn-1 {
  border: none;
  margin-top: 2rem;
  height: 56px;
  width: 153px;
  background-color: #118657;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  transition: .5s ease all;
}
.div_con1 .btn-1:hover{
  color:#118657;
  background-color:#ffac31;
}
.img-con1 {
  width: 50%;
  position:relative;
}
.con-1 .img_below {
  height: 357.69px;
  width: 419.52px;
  display: block;
  margin: 20px auto;
  transform: rotate(-4.13deg);
  float: right;
}
.con-1 .img_above {
  float: right;
  height: 337px;
  width: 390px;
  position: absolute;
  top: 30px;
  right:-10px;
  border-radius: 8px;
}
/* Add your existing CSS styles here */

.search-bar {
  display: none;
  padding: 5px;
  outline: none;
  border-radius: 5px;
  width: 200px; /* Adjust as needed */
}

.search-bar.active {
  display: inline-block;
  outline:none;
  border:1px solid  #118657;
  padding-left: 10px;
}

/* Section One End */

/* Section Two Start */

.con_f2 {
  background-color: #fafafa;
}

.con2 .row_1 {
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: space-between;
}
.con2 .row_2 {
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.con2 .col-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1% 0;
  background-color: white;
  box-shadow: 0 0 5px 2px rgba(97, 94, 94, 0.3);
  border-radius: 5px;
  transition: transform 0.5s ease;
}
.con2 .col-2:hover {
  transform: scale(1.16);
  cursor: pointer;
}
.con2 .col-2 p {
  margin-top: 8px;
}

/* Section Two Ends */

/* Section Three Start */
.con4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.con3 p {
  width: 545px;
}

.con5 {
  display: flex;
  justify-content: space-between;
}
.con5 .hrow {
  width: 100%;
  margin: 0;
  margin-bottom: 10px;
  border: none;
  border-top: 2px solid #118657;
}
.con5 div {
  width: 20%;
  display: flex;
  flex-direction: column;
}
.con5 > div > .num {
  color: #ffac31;
  font-weight: 400;
  font-size: 48.83px;
  padding: 0px;
  margin: 0px;
}
.con5 > div > .para {
  width: 216px;
  font-size: 16px;
}

.con6 {
  background-color: #e0e6ff;
  height: 536px;
  width: 100%;
  object-fit: contain;
  display: flex;
  justify-content: space-between;
  padding: 0px;
}
.con6 > .div1 {
  height: 100%;
  width: 40%;
  position: relative;
  padding: 0px;
  margin: 0px;
}
.con6 > .img2 {
  width: 60%;
}
.con6 > .div1 > .div2 {
  margin: 0px;
  width: 100%;
  position: absolute;
  top: 40%;
  left: 55%;
  transform: translate(-50%, -50%);
  color: #118657;
  border-radius: 10px;
  z-index: 1;
}
.con6 > .div1 > .div2 > p {
  color: #118657;
}
.con6 > .div1 > .div2 span > p {
  color: #118657;
  line-height: 2.5;
}
/* Section Three Ends */

/* section four start */

.con7 {
  display: flex;
  width: 100%;
  justify-content: space-between;
  line-height: 24px;
}
.con7_text {
  width: 30%;
  padding-left: 40px;
}
.con7_text > h3 {
  line-height: 48px;
}
.con7_logo {
  width: 60%;
}
.con8 > .row {
  align-items: center;
}
.con8 > .row > div > .logo {
  transition: transform 0.5s ease;
  cursor: pointer;
}
.con8 > .row > div > .logo:hover {
  transform: scale(1.4);
}
/* section four ends */

/* Section Five Start */

.con9 > div > h4 {
  text-align: center;
  color: #1c1c1c;
  font-weight: 700;
}

.con9 > .con9_comp {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.con9 > .con9_comp > a {
  width: 45%;
  margin-top: 30px;
  transition: transform 0.2s ease;
}
.con9 > .con9_comp >a> div > img {
  object-fit: contain;
  object-fit: cover;
  transition: transform 0.2s ease;
  width: 100%;
}
.con9 > .con9_comp >a{
      text-decoration: none;
}
.con9 > .con9_comp >a> div > img:hover {
  transform: scale(1.1);
  text-decoration: none;
}
.con9 > .con9_comp >a> div > .para1 {
  color: #118657;
  font-size: 16px;
  margin-top: 20px;
  font-weight: 550;
  font-family: "DM Sans", sans-serif;
}

.con_f3 {
  height: 500px;
  position: relative;
  background-color: #118657;
  text-align: center;
}
.con_f3 > h4{
  color:#FFFFFF;
  font-weight: 700;
  font-size: 31.25px;


}
.con_f3 > .img1 {
  top: -40%;
  left: 77%;
  margin: 0px;
  padding: 0px;
  position: absolute;
  transform: rotate(-10deg);
}
.con_f3 > .img2{
  position: absolute;
  top:57%;
  left:0%;
}
.con_f3> .con10{
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}
.con_f3> .con10 > div{
  width:28%;
}
.con_f3> .con10 > div >img{
  height:70px;
  width:70px;
}

.con_f3> .con10 > div >.para1 {
  color:#FFFFFF;
  margin-top: 5%;
  font-weight: 700;
  font-size: 20px;
}

.con_f3> .con10 > div >.para2{
    color: #D0F3DE;
    font-weight: 400;
    font-size: 16px;
}


.owl-dots{
  position:absolute;
  right: 0px;
  bottom: 10px;
  outline:none;
}
.owl-dots > button {
  outline:none;
  background: #ffac31;
}
.owl-dot{
  outline: none;
}
.owl-theme .owl-dots .owl-dot span{
  background:#E7F3EE;
  border:2px solid yellow;
}
.owl-theme .owl-dots .owl-dot span:hover{
  background: yellow;
}

/* Container-fluid4 */
.con_f4{
      height:360px;
      background-color:#E7F3EE;
}
.con_f4 > .con11{
  display: flex;
  justify-content:space-between;
}
.con_f4 > .con11 >.inner1{
  width:40%;
}
.con_f4 > .con11 >.inner2{
  width:55%;
}
.item> .para1{
  color: #118657;
  font-weight: 500;
  font-size: 20px;
}


/* Container12 */

.con12 >.text{
  width:50%;
}

.con12  h5{
  color:#118657;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.con12 ul , li{
   list-style: none;
   padding:0px;
   line-height: 3;
}
.con12 ul , li >a{
  color:#6c6c6c;
  font-weight: 400;
  font-size: 16px;
}



/* footer start */

.con_f5{
  height:232px;
  background-color: #118657;
}

.con13 > .logo{
 display: flex;
 justify-content: space-between;
}
.con13 > .logo >img{
  height:56px;
  width:10%px;
}
.con13 >.logo >ul{
  display: flex;
  justify-content: space-between;
  width:80%;
}
.con13 >.logo >ul >li>a{
  color:#FFFFFF;
  font-size: 14px;
}
.con13 >.social_icon{
  display: flex;
  justify-content: space-between;
}
.con13 >.social_icon >p {
  width:50%;
  color:#FFFFFF;
  font-size: 12.8px;
}
.con13 >.social_icon  > div {
  width:13%;
  display: flex;
  justify-content: space-between;
}
.con13 >.social_icon  > div >img{
  height:24px;
  width: 24px;
}


@media screen and (max-width:992px){
  .con-1 .img_below{
    height: 257.69px;
    width: 249.52px;
         }
  .con-1 .img_above{
    height:256px;
    width:249px;
  }
  .logo{
    margin-top: 20px;
  }
  .mt50{
    margin-top: 0px;
  }

}